/*--------------------------------------------------------------
 ** Google Fonts Integration
----------------------------------------------------------------*/
/** DM_Sans **/
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf')
    format('truetype');
  font-style: normal;
}

/** EncodeSansCondensed **/
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../fonts/Plus_Jakarta_Sans/PlusJakartaSans-VariableFont_wght.ttf')
    format('truetype');
  font-style: normal;
}
